name: Update App

on:
 push:
   branches: [main]

permissions:
  contents: read

jobs:
  deploy-app:
    runs-on: ubuntu-latest
    environment:
      name: production
    env:
      HEARTBEAT_TOKEN: ${{ secrets.HEARTBEAT_TOKEN }}
      HEARTBEAT_TARGET: ${{ vars.HEARTBEAT_TARGET }}
      HEARTBEAT_TARGET_TIMEOUT: ${{ vars.HEARTBEAT_TARGET_TIMEOUT }}
      LOG_DESTINATIONS: ${{ secrets.LOG_DESTINATIONS }}
      LOG_LEVEL: ${{ vars.LOG_LEVEL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install doctl
        uses: digitalocean/action-doctl@135ac0aa0eed4437d547c6f12c364d3006b42824 # v2.5.1
        with:
          token: ${{ secrets.DIGITAL_OCEAN_ACCESS_TOKEN }}
      - name: Install the serverless extension for doctl and connect
        run: doctl serverless install && doctl serverless connect
      - name: Deploy the serverless function
        run: doctl serverless deploy .
